<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_getstarted.html">Get Started with Dashboard Extensions</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/trex_overview.html">What is a Dashboard Extension</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ux_design.html" target="_blank">Design Guidelines for Dashboard Extensions</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/trex_create.html">Create a "Hello World" Dashboard Extension</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/trex_examples.html">Dashboard Extension Samples</a>
        </li>
        <li class="nav-header">Basic Concepts</li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_api_about.html">Tableau Extensions API Basics</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/trex_manifest.html">Tableau Extension Manifest File</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_reload.html">What Happens When you Reload an Extension</a>
        </li>
        <li class="nav-header">Basic How To</li>
        <li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_getdata.html">Get Data from the Dashboard</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_configure.html">Add a Configuration Popup Dialog</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_tableau_viz.html">Add a Tableau Viz to an Extension</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_show_hide.html">Show and Hide Objects in the Dashboard</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_events.html">Events and Event Handling</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_typescript.html">Use TypeScript with the Extensions API</a>
        </li>  
        <li class="nav-header">Security and Data Access</li>
	    <li>
            <a href="{{ site.baseurl }}/docs/trex_security.html">HTTPS and Tableau Extensions</a>		
	    </li>
	    <li>
            <a href="{{ site.baseurl }}/docs/trex_data_access.html">Accessing Underlying Data</a>		
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_xss_guidance.html">Cross-Site Scripting and Extension Security</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_sandbox_test.html">Create and Test Sandboxed Extensions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_oauth.html">Add OAuth to Dashboard Extensions</a>
        </li>  
        <li class="nav-header">Debugging and Troubleshooting</li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_debugging.html">Debug Extensions in Tableau Desktop</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_debug_server.html">Debug Extensions in Tableau Server and Tableau Online</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_logging.html">Use Log Files to Troubleshoot Dashboard Extensions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_error_handling.html">Error Codes for Extensions</a>
        </li>
        <li class="nav-header">Publishing and Distribution</li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_publish.html">Publish a Dashboard Extension</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_sandbox_publish.html">Publish Sandboxed Extensions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_contributing.html">Hosting and Contributing to the Community Portal</a>
        </li>
        <li class="nav-header">Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html" target="_blank">API Reference</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_tableau_viz_ref.html" target="_blank">Tableau Viz Reference</a>
        </li>
		 <li>
            <a href="{{ site.baseurl }}/docs/trex_release-notes.html">Release Notes</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/trex_known_issues.html">Known Issues</a>
        </li>
    </ul>
</div>
