<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/ux_design.html">Design Guidelines for Dashboard Extensions</a>
        </li>
        <li class="nav-header">Interaction Guidelines</li>
		<li>
            <a href="{{ site.baseurl }}/docs/Interaction_Guidelines/ux_build_test.html">Build, Test, Share</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/Interaction_Guidelines/ux_components_modes.html">Extension Components and Modes</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/Interaction_Guidelines/ux_controls_ui_patterns.html">Controls and UI Patterns</a>
        </li>
        <li class="nav-header">Style Guidelines</li>
        <li>
            <a href="{{ site.baseurl }}/docs/Style_Guidelines/ux_branding.html">Branding your Extension</a>
        </li>
        <li>
                <a href="{{ site.baseurl }}/docs/Style_Guidelines/ux_layout.html">Layout</a>
            </li>
        <li>
                <a href="{{ site.baseurl }}/docs/Style_Guidelines/ux_color.html">Color</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/docs/Style_Guidelines/ux_fonts.html">Fonts</a>
            </li>
        <li class="nav-header">Deploying your Extension</li>
        <li>
        <li>
            <a href="{{ site.baseurl }}/docs/ux_extension_gallery.html">Submitting your Extension to the Tableau Exchange</a>
        </li>

    </ul>
</div>
