name: Proof commit

on: [push, pull_request]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20.5'
          cache: yarn
          cache-dependency-path: 'website/yarn.lock'

      - name: Install dependencies
        working-directory: website
        run: yarn install --frozen-lockfile

      - name: Lint
        working-directory: website
        run: yarn run lint:check

      - name: Setup Pages
        id: setup-pages
        uses: actions/configure-pages@v3

      - name: Build webpage
        working-directory: website
        run: yarn build
        env:
          GITHUB_ORIGIN: ${{ steps.setup-pages.outputs.origin }}
          GITHUB_BASE_PATH: ${{ steps.setup-pages.outputs.base_path }}

      - name: Upload webpage artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'website/build'
